////
/// @author       Richard McCartney
/// @link         https://github.com/richmccartney/trump.spacing
/// @since        0.0.1
////

/// Spacing trumps
///
/// Margin and padding helper classes. Use these to tweak layout on a micro
/// level.

$base-spacing-unit:               20px !default;

@mixin spacing($spacing, $spacing-unit) {
  $directions:                    top right bottom left horizontal vertical;
  $sizes:                         (tiny: $spacing-unit / 4, small: $spacing-unit / 2, large: $spacing-unit * 2, huge: $spacing-unit * 4);
  
  .u-#{$spacing} {
    
    &--none {
      #{$spacing}: none !important;
    }
    
    @each $size, $division in $sizes {
      &--#{$size} {
        #{$spacing}: $division !important;
      }
    }
    
    @each $direction in $directions {
      &--#{$direction} {
        @if $direction == "horizontal" {
          #{$spacing}-right: $spacing-unit !important;
          #{$spacing}-left: $spacing-unit !important;
        } @else if $direction == "vertical" {
          #{$spacing}-top: $spacing-unit !important;
          #{$spacing}-bottom: $spacing-unit !important;
        } @else {
          #{$spcing}-#{$direction}: $spacing-unit !important;
        }

        @each $size, $division in $sizes {
          &-#{$size} {
            #{$spacing}-#{$direction}: $division !important;
          }
        }
      }
    }
  }
}

@include spacing(margin, $base-spacing-unit);
@include spacing(padding, $base-spacing-unit);
